{% extends "base.html" %}
{% block title %}Profile{% endblock %} 

{% block content%}
{% load crispy_forms_tags %}
<div class="container mt-5">
  <h5 class="text-center">Profile page</h5>
  <a href="{% url 'edit_profile' %}" class="btn btn-danger ">Edit Your Profile</a>
  <div class="d-flex flex-wrap gap-5 justify-content-center mt-2">
    {%for post in data%}
        <div class="card" style="width: 18rem;">
          <div class="card-body " >
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content | truncatechars:150}}</p>
            <p>
              Author : {{post.author.first_name}} {{post.author.last_name}}
            </p>
            <p> Category: 
              {% for cat in post.category.all %}
            <button class='btn btn-secondary m-1'> {{cat.name}}</button>
            {% endfor %}
            </p>
            <div class='d-flex justify-content-between' >
              <a href="{% url 'editpost' post.id %}" class="btn btn-primary">Edit</a>
              <a href="{% url 'deletepost' post.id %}" class="btn btn-danger">Delete</a>
            </div>
          </div>
        </div>
 
    {% endfor %}
  </div>
  </div>
</div>
  

{% endblock %}